 body{
    background-color: beige;
    opacity: 1;
 }



 #images {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;
        margin-top: 50px;
    }
    #buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-width: 100px;
    }
    input[type="submit"] {
        width: 250px;
        height: 50px;
        font-size: 20px;
        text-align: center;
        resize: both:
        overflow: auto;
    }
#køn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-width: 100px;
    }

