

<head>

</head>
    <a >192.168.0.215:4000/</a>
<p style="text-align: center; font-size: 36px; margin-top:50px", class="a-tag"> vs </p>
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

<div id="images">
    <img src="data:;base64,{{ image_1 }}"/>
    <img src="data:;base64,{{ image_2 }}"/>
</div>



<body>
    <div id="buttons">
        <form action="#" method="POST">
            <p><input type="submit" name={{navn_1}} value="Venstre">
                <input type="submit" name={{navn_2}} value="Højre"></p>
        </form>
    </div>
    <div id="køn">
        <form action="#" method="POST">
            <p><input type="submit" name={{køn}} value="skift"></p>
        </form>
    </div>

</body>

